<ion-content padding>
  <div class="head h1 font-bold text-center">SIGN IN</div>
  <div class="form-area">
    <div class="form-group withIcon">
      <i class="fas fa-user"></i>
      <input type="text" class="form-control" placeholder="Username" />
    </div>
    <div class="form-group withIcon">
      <i class="fas fa-key"></i>
      <input type="password" class="form-control" placeholder="Password" />
    </div>
    <div class="form-group">
      <div class="checkbox">
        <input type="checkbox" id="remember" />
        <span class="toggle"></span>
        <label for="remember">remember me</label>
        <span class="hint-right">?</span>
      </div>
    </div>
    <div class="form-Btns">
      <ion-button class="docBtn" expand="block" shape="round">SIGN IN</ion-button>
      <ion-button class="docBtn social" expand="block" shape="round">Sign In with Facebook</ion-button>
    </div>
    <div class="bottom-link text-center">
      <span>Don't have an account? <a href="javascript:void(0);">SIGN UP</a></span>
    </div>
  </div>
</ion-content>
